{% extends "Schedule/projects_wrapper.html" %}
{% load static %}
{% block projects %}
    <div class="projects__list-item">
        <div class="projects__header">
            <div class="projects__title">Назва найтехнологічнішого проекту в світі</div>
            <span class="projects__days">4 дні тому</span>
        </div>
        <div class="projects__body">
            <div class="projects__founder">Засновник: Іван Іванов</div>
            <div class="projects__desc"><strong>Опис проекту:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias cupiditate dolor et, id illo ipsa laudantium, magnam mollitia, necessitatibus nobis placeat sed voluptate.
            </div>
        </div>
        <div class="projects__footer">
            <button type="submit" class="button mr-10">
                <span class="button__icon">
                    <img src="{% static "img/add-to-project.svg" %}" alt="">
                </span>
                <span class="button__text">Приєднатися до проекту</span>
            </button>
            <button type="submit" class="button button-outline">
                <span class="button__icon">
                    <img src="{% static "img/description.svg" %}" alt="">
                </span>
                <span class="button__text">Детальніше</span>
            </button>
        </div>
    </div>

    <div class="projects__list-item">
        <div class="projects__header">
            <div class="projects__title">Назва найтехнологічнішого проекту в світі</div>
            <span class="projects__days">4 дні тому</span>
        </div>
        <div class="projects__body">
            <div class="projects__founder">Засновник: Іван Іванов</div>
            <div class="projects__desc"><strong>Опис проекту:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias cupiditate dolor et, id illo ipsa laudantium, magnam mollitia, necessitatibus nobis placeat sed voluptate.
            </div>
        </div>
        <div class="projects__footer">
            <button type="submit" class="button mr-10">
                <span class="button__icon">
                    <img src="{% static "img/add-to-project.svg" %}" alt="">
                </span>
                <span class="button__text">Приєднатися до проекту</span>
            </button>
            <button type="submit" class="button button-outline">
                <span class="button__icon">
                    <img src="{% static "img/description.svg" %}" alt="">
                </span>
                <span class="button__text">Детальніше</span>
            </button>
        </div>
    </div>

    <div class="projects__list-item">
        <div class="projects__header">
            <div class="projects__title">Назва найтехнологічнішого проекту в світі</div>
            <span class="projects__days">4 дні тому</span>
        </div>
        <div class="projects__body">
            <div class="projects__founder">Засновник: Іван Іванов</div>
            <div class="projects__desc"><strong>Опис проекту:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias cupiditate dolor et, id illo ipsa laudantium, magnam mollitia, necessitatibus nobis placeat sed voluptate.
            </div>
        </div>
        <div class="projects__footer">
            <button type="submit" class="button mr-10">
                <span class="button__icon">
                    <img src="{% static "img/add-to-project.svg" %}" alt="">
                </span>
                <span class="button__text">Приєднатися до проекту</span>
            </button>
            <button type="submit" class="button button-outline">
                <span class="button__icon">
                    <img src="{% static "img/description.svg" %}" alt="">
                </span>
                <span class="button__text">Детальніше</span>
            </button>
        </div>
    </div>

    <div class="projects__list-item">
        <div class="projects__header">
            <div class="projects__title">Назва найтехнологічнішого проекту в світі</div>
            <span class="projects__days">4 дні тому</span>
        </div>
        <div class="projects__body">
            <div class="projects__founder">Засновник: Іван Іванов</div>
            <div class="projects__desc"><strong>Опис проекту:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias cupiditate dolor et, id illo ipsa laudantium, magnam mollitia, necessitatibus nobis placeat sed voluptate.
            </div>
        </div>
        <div class="projects__footer">
            <button type="submit" class="button mr-10">
                <span class="button__icon">
                    <img src="{% static "img/add-to-project.svg" %}" alt="">
                </span>
                <span class="button__text">Приєднатися до проекту</span>
            </button>
            <button type="submit" class="button button-outline">
                <span class="button__icon">
                    <img src="{% static "img/description.svg" %}" alt="">
                </span>
                <span class="button__text">Детальніше</span>
            </button>
        </div>
    </div>

    <div class="projects__list-item">
        <div class="projects__header">
            <div class="projects__title">Назва найтехнологічнішого проекту в світі</div>
            <span class="projects__days">4 дні тому</span>
        </div>
        <div class="projects__body">
            <div class="projects__founder">Засновник: Іван Іванов</div>
            <div class="projects__desc"><strong>Опис проекту:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias cupiditate dolor et, id illo ipsa laudantium, magnam mollitia, necessitatibus nobis placeat sed voluptate.
            </div>
        </div>
        <div class="projects__footer">
            <button type="submit" class="button mr-10">
                <span class="button__icon">
                    <img src="{% static "img/add-to-project.svg" %}" alt="">
                </span>
                <span class="button__text">Приєднатися до проекту</span>
            </button>
            <button type="submit" class="button button-outline">
                <span class="button__icon">
                    <img src="{% static "img/description.svg" %}" alt="">
                </span>
                <span class="button__text">Детальніше</span>
            </button>
        </div>
    </div>

{% endblock %}