{% extends "Schedule/projects_wrapper.html" %}
{% load static %}
{% block projects %}
    {% for project in projects %}
         <div class="projects__list-item">
             <div class="projects__header">
                 <div class="projects__title">{{ project.project.title }}</div>
                 <span class="projects__days">4 дні тому</span>
             </div>
             <div class="projects__body">
                 <div class="projects__founder">
                     <strong>Адміністратор проекту:</strong>
                     {{ project.user.first_name }} {{ project.user.last_name }}
                 </div>
                 <div class="projects__desc"><strong>Опис проекту:</strong> {{ project.project.description }}
                 </div>
             </div>
             <div class="projects__footer">
                 <form action="" class="form" method="post">
                     {% csrf_token %}
                     <button type="submit" name="project_delete" class="button mr-10">
                         <span class="button__icon">
                             <img src="{% static "img/close-project.svg" %}" alt="">
                         </span>
                         <span class="button__text">Видалити проект</span>
                     </button>
                 </form>
             </div>
         </div>
    {% endfor %}
{% endblock %}