{% extends "Schedule/projects_wrapper.html" %}
{% load static %}
{% block projects %}
    {% for request in projects %}
        <a href="{% url "requests" %}" class="projects__link link">
         <div class="projects__list-item">
             <div class="projects__header">
                 <div class="projects__title">{{ request.title }}</div>
                 <span class="projects__days">4 дні тому</span>
             </div>
             <div class="projects__body">
                 <div class="projects__founder">
                     <strong>Адміністратор проекту:</strong>
                     {{ request.initiator.first_name }} {{ request.initiator.last_name }}
                 </div>
                 <div class="projects__desc">
                     <strong>Опис проекту:</strong>
                     {{ request.description }}
                 </div>
             </div>
             <div class="projects__footer">
                 <form action="" class="form" method="post">
                     {% csrf_token %}
                     <button type="submit" class="button mr-10">
                         <span class="button__icon">
                         <img src="{% static "img/approve-project.svg" %}" alt="">
                     </span>
                         <span class="button__text">Створити проект</span>
                     </button>
                 </form>
                 <form action="" class="form" method="post">
                     {% csrf_token %}
                     <button type="submit" class="button mr-10">
                         <span class="button__icon">
                             <img src="{% static "img/close-project.svg" %}" alt="">
                         </span>
                         <span class="button__text">Відхилити проект</span>
                     </button>
                 </form>
             </div>
         </div>
        </a>
    {% endfor %}
{% endblock %}